[user]
  name = Ashton Kinslow
  email = github@ashtonkinslow.com

[github]
  user = ashtonian

[advice]
  statusHints = true

[gui]
  fontdiff = -family Monaco -size 14 -weight normal -slant roman -underline 0 -overstrike 0

[core]
	quotepath = false
	# line endings
	# force LF during add
	autocrlf = input
	# autocrlf = true # for windows to convert to CRLF on checkout and LF on add
	# warn but allow line ending conversion to proceed
	safecrlf = warn
	# prevent crlf (then you will have to deal with the problem -- dos2unix, etc)
	#safecrlf = true
	editor = vim
	#editor = subl -w

	# Treat spaces before tabs and all kinds of trailing whitespace as an error.
	# [default] trailing-space: looks for spaces at the end of a line
	# [default] space-before-tab: looks for spaces before tabs at the beginning of a line
	whitespace = space-before-tab,-indent-with-non-tab,trailing-space

	# Make `git rebase` safer on macOS.
	# More info: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
	trustctime = false

	# Prevent showing files whose names contain non-ASCII symbols as unversioned.
	# http://michael-kuehnel.de/git/2014/11/21/git-mac-osx-and-german-umlaute.html
	precomposeunicode = false

	# Speed up commands involving untracked files such as `git status`.
	# https://git-scm.com/docs/git-update-index#_untracked_cache
	untrackedCache = true

	pager = diff-so-fancy | less --tabs=4 -RFX

# [commit]

# 	# https://help.github.com/articles/signing-commits-using-gpg/
# 	gpgsign = true


[apply]
	# Detect whitespace errors when applying a patch.
	whitespace = fix

[rerere]
  #Enable the recording of resolved conflicts, so that identical hunks can be resolved automatically later on
  enabled = 1

[difftool]
  prompt = false

[diff]
	# Detect copies as well as renames.
	renames = copies

[diff "bin"]
	# Use `hexdump` to diff binary files.
	textconv = hexdump -v -C

[merge]
  log = true
  tool = bc3
  # Always show a diffstat at the end of a merge
  stat = true
  conflictstyle = diff3

[mergetool "bc3"]
	trustExitCode = true

[branch]
    # Automatically set up pull to be --rebase
    autosetuprebase = always

[credential]
    # cache creds (git help credential-cache)
  helper = cache

[filter "tabspace"]
  clean = expand -t 4

[push]
	default = matching
	followTags = true
	# https://git-scm.com/docs/git-config#git-config-pushdefault
	default = simple
	# Make `git push` push relevant annotated tags when pushing branches out.
	followTags = true

[filter "media"]
  required = true
  clean = git media clean %f
  smudge = git media smudge %f

[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true

[color]
	ui = true

[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22

[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[help]
	# Automatically correct and execute mistyped commands.
	autocorrect = 1

# URL shorthands
[url "git@github.com:"]
	insteadOf = "gh:"
	pushInsteadOf = "github:"
	pushInsteadOf = "git://github.com/"

[url "git://github.com/"]
	insteadOf = "github:"

[url "git@gist.github.com:"]
	insteadOf = "gst:"
	pushInsteadOf = "gist:"
	pushInsteadOf = "git://gist.github.com/"

[url "git://gist.github.com/"]
	insteadOf = "gist:"



